html, body, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
h1 img {
    display: block;
}
img {
    border: 0;
}
a {
    color: #464544;
}
a:hover {
    color: #666666;
}
.left {
    float: left;
}
.right {
    float: right;
}
.more {
    text-align: right;
}
.clear {
    clear: both;
}

body {
    background: url(../images/layout/page_bg.gif);
    text-align: center;
    font: 12px arial, sans-serif;
    color: #464544;
    padding-bottom: 10px;
}

#outer {
    background: top left  url(../images/layout/page_bg_top.gif) repeat-x;
    padding-top: 20px;
}

/** layout **/
#wrapper {
    text-align: left;
    margin: auto;
    width: 798px;
    position: relative;
    background:  url(../images/layout/body_bg.gif) repeat-y;
}
#body-bot {
    background: bottom left  url(../images/layout/body_bg_bot.jpg) no-repeat;
}
#body-top {
    background:  url(../images/layout/body_bg_top.gif) no-repeat;
    min-height: 800px;
    _height: 800px;
    padding-bottom: 14px;
}

/** logo **/

#logo {
    width: 25em;
    text-align: center;
}
#logo h1 {
    color: #6F7033;
    font: 22px sans-serif;
    line-height: 1;
    padding-top: 0.8em;
}
#logo p {
    color: #464544;
    font: 16px "Arial narrow", arial, sans-serif;
    margin: 0;
}

/** nav **/

#nav{
    margin: 0 30px;
    margin-top: 10px;
}

#nav ul.menubar{
    margin: 0px;
    width: 700px;
    background-color: #FFFFFF; /* IE6 Bug */
    font-size: 100%;
    bottom:1px;
}

#nav ul.menubar .submenu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    float:left;
}

#nav ul.menubar ul.menu{
    display: none;
    position: absolute;
    margin: 0px;
}

#nav ul.menubar a{
    padding: 5px;
    display:block;
    text-decoration: none;
    padding: 5px;
}

#nav ul.menu, ul.menu ul{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    width: 150px; /* Width of Menu Items */
    background-color: #FFFFFF; /* IE6 Bug */
}

#nav ul.menu li{
    position: relative;
    list-style: none;
    border: 0px;
}

#nav ul.menu li a{
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    border-bottom: 0px;
    color: #777;
    padding: 5px 10px 5px 5px;
}

#nav ul.menu li sup{
    font-weight:bold;
    font-size:7px;
    color: red;
}

/* Fix IE. Hide from IE Mac \*/
* html #nav ul.menu li { float: left; height: 1%; }
* html #nav ul.menu li a { height: 1%; }
/* End */

#nav ul.menu ul{
    position: absolute;
    display: none;
    left: 14px; /* Set 1px less than menu width */
    top: 0px;
}

#nav ul.menu li.submenu ul { display: none; } /* Hide sub-menus initially */

#nav ul.menu li.submenu { background: transparent url(arrow.gif) right center no-repeat; }

#nav ul.menu li a:hover { color: #E2144A; }


/* Fix IE. Hide from IE Mac \*/

* html #nav ul li { float: left; }

* html #nav ul li a { height: 1%; }

/* End */

#nav li:hover ul { display: block; }

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #ccc;
}

/** green box **/
#gbox {
    width: 431px;
    margin-top: 82px;
    margin-left: 22px;
}

#gbox-bg  { background:  url(../images/layout/green_bg.gif) repeat-y; }
#gbox-grd { background: bottom  url(../images/layout/green_grad_bot.jpg) repeat-x; }
#gbox-top { background:  url(../images/layout/green_top.gif) no-repeat; height: 24px; }
#gbox-bot { background: bottom left  url(../images/layout/green_bot.gif) no-repeat; height: 23px; }

#gbox-grd {
    min-height: 300px;
    padding: 2px 24px;
}

#gbox h2 {
    font: bold 14px arial, sans-serif;
    color: #000;
    margin: 0;
}

#gbox p {
    margin: 1em 0;
}

#features {
    background: #EDF0C4;
    padding: 14px;
    margin: 0 -14px;
}
#features h2 {
    position: relative;
}
#features p{ padding-left:20px;}
#features a{ float:right;}
#features img{ float:right;}

/** page content **/
#page-content{
    background: #FFFFFF;
    padding: 14px;
    width: 680px;
    margin-top: 82px;
    margin-left: 22px;

}


/** footer **/

#newsletter, #events {
    float: left;
    width: 49%;
    margin-top: 1em;
}
#newsletter h2, #events h2 {
    color: #fff;
}
#newsletter .text {
    width: 125px;
}
#newsletter form {
    margin: 0.3em 0 0.6em 0;
}
#newsletter p {
    margin: 0.3em 0;
    font-size: 10px;
}
#newsletter a {
    color: #000;
}

#events {
    margin-left: 6%;
    width: 38%;
}
#events ul {
    margin: 0.3em 0;
    padding: 0;
}
#events li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/** grey box **/

#greybox {
    background:  url(../images/layout/grey_bg.gif) repeat-y;
    width: 326px;
    position: absolute;
    top: 292px;
    left: 457px;
}
#greybox-top {
    background:  url(../images/layout/grey_img.jpg) no-repeat;
    padding-left: 165px;
    padding-top: 18px;
}
#greybox-bot {
    background: bottom left  url(../images/layout/grey_bot.gif) no-repeat;
    padding-bottom: 4px;
}
#greybox h2 {
    font: bold 12px arial, sans-serif;
    color: #E4EE6A;
    line-height: 1.5;
}
#greybox a {
    color: #fff;
}

#copyright {
    font-size: 9px;
    color: #fff;
    margin-top: 60px;
}

/** Configuracoes de elementos **/
.hidden {
    display: none;
}
.button {
    font-size: 10px;
}
.cabecalhoListagem {
    height: 30px;
    border-bottom: 1px solid gainsboro;
}
.tituloListagem {
    float: left;
}
.borderField{
    border: 1px solid gainsboro;
}

.alignedField{
    display: inline-block;
}
.novoRegistroButton {
    float: right;
}