/* 
    Document   : styleAlternativo
    Created on : 16/10/2011, 22:25:06
    Author     : Leo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Elementos gerais da página */
html { 
    margin: 0;
    padding: 0;
}

h2{
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-weight: normal;
    font-variant: small-caps; 
}
body {
    /*background-color: rgb(237, 242, 248);*/
    background-color: rgb(222, 231, 242);
    width: 900px;
    margin: 0 auto;
}

td{
     font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-weight: normal;
    font-variant: small-caps;
}
#cabecalho{
    margin-top: 20px;
    height: 120px;
    background: url(../images/layout/logo.png) no-repeat;
}



#menu {
    margin-top: 10px;
    width: 400px;
}

#rodape {
    margin-top: 50px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
}

#page-content{
    background-color: rgb(222, 231, 242);
    margin-top: 20px;

}


#logo {
    width: 25em;
    text-align: center;
}


/** Configuracoes de elementos **/
.hidden {
    display: none;
}
.button {
    font-size: 10px;
}
.cabecalhoListagem {
    height: 30px;
}
.tituloListagem {
    font-family: Verdana, Arial, sans-serif;
    color: #222;
    font-weight: normal;
    font-variant: small-caps;
    float:left;
}
.borderField{
    border: 1px solid gainsboro;
}

.alignedField{
    display: inline-block;
}
.novoRegistroButton {
    float: right;
}

.ui-widget {
    font-size: 90% !important;
}

a:hover {
    color: #666666;
}
.left {
    float: left;
}
.right {
    float: right;
}
.more {
    text-align: right;
}
.clear {
    clear: both;
}

